# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
.env.local
*.env
!.env.example

# General TS
node_modules/
dist/
tsconfig.tsbuildinfo

# Specific packages
frontend/.tanstack