@font-face {
  font-family: SourceSerif;
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Source.woff2") format("woff2");
}

@font-face {
  font-family: Kode;
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Kode.woff2") format("woff2");
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  box-sizing: border-box;
  background: var(--bg-alpha);
  color: var(--text-alpha);
  width: 100%;
  height: 100%;
  /* Removes font scaling when switching to landscape view (touch devices) */
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-flow: column;
  max-width: 100%;
  min-height: 100%;
  overflow-wrap: break-word;
}

div#root {
  flex: 1;
  display: flex;
  flex-flow: column;
}

main {
  flex: 1;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  outline: 0;
  /* Prevents hightlight on touch (touch devices) */
  -webkit-tap-highlight-color: transparent;
  /* Removes double-tap zoom (touch devices) */
  touch-action: manipulation;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0
}

h1, h2, h3, h4, h5, h6 {
  font-family: SourceSerif;
  color: var(--text-beta);
}

a {
  text-decoration: none;
  color: inherit;
}

/* TODO: why is this all of sudden problem? */
/* a:visited {
  color: inherit;
} */

a, img {
  user-select: none
}

button {
  font-family: inherit;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background: none;
  color: var(--text-alpha);
  cursor: pointer;
  user-select: none;
  font-size: inherit;
}

ul, ol {
  padding: 0;
  margin: 0;
}

input, textarea {
  filter: none;
  appearance: none;
  border: none;
  border-radius: 0;
}

textarea {
  margin: 0;
}

pre {
  white-space: pre-wrap;
}

::selection {
  background: var(--text-beta);
  color: var(--bg-alpha);
}

html {
  --bg-alpha: rgb(10, 10, 10);
  --bg-beta: rgb(28, 28, 28);
  --bg-gamma: rgb(47, 47, 47);
  --bg-delta: rgb(83, 83, 83);
  --text-alpha: rgba(255, 255, 255, .5);
  --text-beta: rgba(255, 255, 255, .87);
  --text-gamma: rgb(255, 255, 255);
  --border-alpha-color: rgba(255, 255, 255, .15);
  --border-alpha: 2px solid var(--border-alpha-color);
  --border-beta: 6px double var(--border-alpha-color);
  --accent-alpha: #f69;
  --accent-beta: #3366cc;
}

html[data-theme="light"] {
  --accent-alpha: #3366cc;
  --accent-beta: #f69;
  --bg-alpha: rgb(239, 242, 247);
  --bg-beta: rgb(232, 235, 240);
  --bg-gamma: rgb(225, 228, 233);
  --bg-delta: rgb(251, 253, 255);
  --text-alpha: rgba(0, 15, 35, .6);
  --text-beta: rgba(0, 15, 35, .87);
  --text-gamma: rgb(0, 15, 35);
  --border-alpha-color: rgba(0, 0, 0, .15);
}