.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-flow: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.gap-1 {
  gap: 1rem;
}

.gap-05 {
  gap: 0.5rem;
}

.no-gap {
  gap: 0 !important;
}

.pad-1 {
  padding: 1rem;
}

.pad-0-1 {
  padding: 0 1rem;
}

.pad-left-1 {
  padding-left: 1rem;
}

.no-pad {
  padding: 0 !important;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.kode {
  font-family: Kode;
  text-transform: uppercase;
}

.border-top {
  border-top: var(--border-alpha);
}

div.spinner {
  border: .3rem solid var(--border-alpha-color);
  border-top: .3rem solid var(--accent-alpha);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.size-09 {
  font-size: .9rem;
}