.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-flow: column;
}

.gap-1 {
  gap: 1rem;
}

.pad-1 {
  padding: 1rem;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}